
.centrarContent{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.btnAcces {
  margin-bottom: 5px !important;
  margin: 2rem;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.inputMail{
  width: 21rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
