<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del hábito</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-text>{{ task?.title}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Frecuencia</ion-label>
      <ion-text>{{ task?.frequency}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Horario</ion-label>
      <ion-text>{{ task?.time}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Días</ion-label>
      <ion-text>
        <ng-container *ngIf="(task?.days ?? []).length > 0; else noDays">
          <ng-container *ngFor="let day of task?.days; let i = index">
            {{ day }}<span *ngIf="i < (task?.days?.length ?? 0) - 1">, </span>
          </ng-container>
        </ng-container>
        <ng-template #noDays>No hay días seleccionados</ng-template>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-text>{{ task?.completed ? 'Completado' : 'Pendiente' }}</ion-text>
    </ion-item>
  </ion-list>
  <div class="acciones">
    <ion-button class="boton-ancho" (click)="editModal(task)"
      >Editar</ion-button
    >
    <ion-button class="boton-ancho" (click)="completeTask(task)"
      >{{task?.completed ? 'Pendiente ' : 'Completar'}}</ion-button
    >
  </div>
</ion-content>
