<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del evento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-text>{{ task?.title}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-text>{{ task?.description}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-text>{{ task?.time}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Día</ion-label>
      <ion-text>{{ task?.date}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Lugar</ion-label>
      <ion-text>{{ task?.location}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-text>{{task?.category}}</ion-text>
    </ion-item>
    <ion-item>
      <ion-label>Imagen</ion-label>
    </ion-item>
    <ion-item>
      <ion-img [src]="task?.image" alt="Imagen del evento"></ion-img>
    </ion-item>
  </ion-list>
  <ion-button class="boton-ancho" (click)="editModal(task)">Editar</ion-button>
</ion-content>
