ion-list{
  margin: 0;
  padding: 0;
}

.boton-ancho {
  flex: 1; /* Los botones ocuparán el mismo espacio */
  margin: 0 0.5rem; /* Espaciado entre los botones */
  max-width: 15rem; /* Ancho máximo para los botones */
}

.acciones{
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin: 2rem;
}
