ion-list {
  margin: 0;
  padding-top: 3px;
}

.addTask{
  height: 2.3rem;
  width: 2.3rem;
  margin-right: 20px !important;
  margin-top: 0px !important;
  margin: 10px;
}
ion-content{
  margin: 0;
  padding: 0;
}
.pepe{
  background-color: white;
  margin: 300px;
}
