<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <ion-segment
    [(ngModel)]="filter"
    (ionChange)="setFilter($event.detail.value?.toString() || 'todas')"
    name="filter"
  >
    <ion-segment-button value="todas">
      <ion-label>Todas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Semanal">
      <ion-label>Semanales</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Mensual">
      <ion-label>Mensuales</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-item>
    <div class="centrarContent">
      <ion-label
        >Porcentaje de tareas completadas: {{ completionPercentage |
        number:'1.0-2' }}%</ion-label
      >
      <ion-progress-bar [value]="progressBar"></ion-progress-bar>
    </div>
  </ion-item>

  <ion-list *ngIf="user">
    <ion-list-header>
      <ion-label>Tareas de {{ user.nombre }}</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let task of filteredTasks">
      <ion-item (click)="openTaskDetailModal($event, task)">
        <ion-label>{{ task.title }}</ion-label>
        <ion-checkbox
          slot="start"
          [checked]="task.completed"
          [disabled]="true"
        ></ion-checkbox>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option
          (click)="openEditModal($event, task)"
          style="background-color: #66b2ff; color: #000"
        >
          <ion-icon slot="start" name="create-outline"></ion-icon>
          Editar
        </ion-item-option>
        <ion-item-option
          style="background-color: #333; color: #fff"
          (click)="confirmRemoveTask(task)"
        >
          <ion-icon slot="start" name="trash"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTask()" class="addTask">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
