
.addTask{
  height: 3rem;
  width: 3rem;
  margin-right: 20px !important;
  margin-bottom: 30px;
}

.container{
  margin: 0;
  padding: 0;
}
.centrarContent {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
